
<div class="flex justify-center pt-6 ">
<div class="box-border h-32 w-92 p-4 border-4 ...">
 <div class="flex justify-center pt-6">
 
 <p class="uppercase">Your account id Validated you are at place <%= @client.rang %> in the wating list</p>
 
 </div>
</div>
</div>